name: Arduino Lint

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  arduino-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          compliance: strict
